<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reported System Outage: <%= @report.service.name %></h1>
    <h3>Reporter: <%= @report.user.name %> (<%= @report.user.email %>)</h3>
    <p><%= simple_format(@report.reproduce) %></p>
  </body>
</html>