<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Systems Emergency: <%= @report.service.name %></h1>
    <h2>Reporter: <%= @report.user.email %></h2>
    <p><%= @report.reproduce %></p>
  </body>
</html>