<div id="flash" class="col-sm-8 col-sm-offset-2">
  <% flash.each do |key, value| -%>
  	<% if !value.empty? %>
      <% if key.to_s == 'alert' %>
        <div id="flash_danger" data-alert class="alert alert-danger">
      <% elsif key.to_s == 'notice' %>
        <div id="flash_info" data-alert class="alert alert-info">
      <% else %>
        <div id="flash_<%= key %>" data-alert class="alert alert-info">
      <% end %>	
        <%= value %>
      </div>
    <% end %>
  <% end -%>
</div>
